################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/UnitTests/bin
/UnitTests/obj
.vs/
/JobWebsiteMVC/app.db
