@model JobWebsiteMVC.ViewModels.Job.JobCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<div class="container">
    <h1>Create</h1>

    <h4>Job</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" id="JobTitle" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobTitle" class="control-label"></label>
                    <input asp-for="JobTitle" class="form-control" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsDraft" /> @Html.DisplayNameFor(model => model.IsDraft)
                    </label>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="MinSalary" class="control-label"></label>
                        <input asp-for="MinSalary" class="form-control" />
                        <span asp-validation-for="MinSalary" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="MaxSalary" class="control-label"></label>
                        <input asp-for="MaxSalary" class="form-control" />
                        <span asp-validation-for="MaxSalary" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="WorkingHoursStart" class="control-label"></label>
                        <input asp-for="WorkingHoursStart" class="form-control" />
                        <span asp-validation-for="WorkingHoursStart" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="WorkingHoursEnd" class="control-label"></label>
                        <input asp-for="WorkingHoursEnd" class="form-control" />
                        <span asp-validation-for="WorkingHoursEnd" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="HoursPerWeek" class="control-label"></label>
                        <input asp-for="HoursPerWeek" class="form-control" />
                        <span asp-validation-for="HoursPerWeek" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="HolidayEntitlement" class="control-label"></label>
                        <input asp-for="HolidayEntitlement" class="form-control" />
                        <span asp-validation-for="HolidayEntitlement" class="text-danger"></span>
                    </div>
                 </div>

                 <div class="row">

                    <div class="form-group  col-md-6">
                        <label asp-for="ClosingDate" class="control-label"></label>
                        <input asp-for="ClosingDate" class="form-control" />
                        <span asp-validation-for="ClosingDate" class="text-danger"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label asp-for="PublishDate" class="control-label"></label>
                        <input asp-for="PublishDate" class="form-control" />
                        <span asp-validation-for="PublishDate" class="text-danger"></span>
                    </div>
                 </div>
               
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="JobBenefitsIds"></label>
                        <small id="jobBenefits" class="form-text text-muted">Multi-Select (hold down ctrl and click)</small>
                        <select asp-for="JobBenefitsIds" asp-items="ViewBag.JobBenefitsList" class="form-control">
                        </select>
                       
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="JobTypeId"></label>
                        <select asp-for="JobTypeId" asp-items="ViewBag.JobTypesList" class="form-control">
                            <option value="">Please Select</option>
                        </select>
                        <span asp-validation-for="JobTypeId" class="text-danger"></span>
                    </div>
                </div>
               

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-link">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Jobs/jobTitleAutocomplete.js" asp-append-version="true"></script>
}