
<div class="container-xxl">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped table-hover" id="tblStudent" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Job Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Draft?</th>
                    <th scope="col">Min Salary</th>
                    <th scope="col">Max Salary</th>
                    <th scope="col">Hours per week</th>
                    <th scope="col">Holiday</th>
                    <th scope="col">Job Type</th>
                    <th scope="col">Active?</th>
                </tr>
            </thead>

        </table>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js" defer="true"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.min.js" defer="true"></script>
    <script src="~/js/jobs/jobdatatable.js" asp-append-version="true" defer="true"></script>
}