@model PaginatedList<JobWebsiteMVC.ViewModels.Job.JobDetailsViewModel>

@{
    ViewData["Title"] = "My Jobs";
}
<div class="container">
<h1>@ViewData["Title"]</h1>


<p>
    <a asp-action="Create" class="btn btn-primary">Create New Listing</a>
</p>


<table class="table table-bordered table-striped table-hover" id="tblJobs" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Job Title</th>
            <th scope="col">Description</th>
            <th scope="col">Draft?</th>
            <th scope="col">Min Salary</th>
            <th scope="col">Max Salary</th>
            <th scope="col">Hours per week</th>
            <th scope="col">Holiday</th>
            <th scope="col">Job Type</th>
            <th scope="col">Active?</th>
            <th></th>
        </tr>
    </thead>

</table>
</div>
@section Scripts {
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.min.js" defer="true"></script>
    <script src="https://cdn.datatables.net/2.3.4/css/dataTables.bootstrap5.min.css" defer="true"></script>
    <script src="https://cdn.datatables.net/2.3.4/js/dataTables.bootstrap5.min.js" defer="true"></script>
    <script src="~/js/Jobs/jobDataTable.js" asp-append-version="true" defer="true"></script>
}
