@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";

    var userTypeList = new List<SelectListItem>();
    if (Model.UserTypes != null)
    {
        foreach (var userType in Model.UserTypes)
        {
            userTypeList.Add(new SelectListItem { Text = userType.Name, Value = userType.Id.ToString() });
        }
    }
}
<div class="col-md-4 offset-md-4">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-4 offset-md-4 card">
        <section>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Come on board!</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.FirstName"></label>
                        <input asp-for="Input.FirstName" class="form-control" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.LastName"></label>
                        <input asp-for="Input.LastName" class="form-control" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.DateOfBirth"></label>
                        <input asp-for="Input.DateOfBirth" class="form-control" type="text" />
                        <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.UserTypeId"></label>
                        <select asp-for="Input.UserTypeId" asp-items="userTypeList" class="form-control"></select>
                        <span asp-validation-for="Input.UserTypeId" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(function () {
            $("#Input_DateOfBirth").datepicker({
                autoSize: true,
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd",
                maxDate: "-18Y", /* Don't allow any children to register */
                minDate: "-100Y", /* Not expecting anyone over the age of 100 to be signing up.... */
                yearRange: "-100:+nn" /* Sets the max year from -100 years ago to today to set the scrolling for year */
            });
        });
    </script>
}

<style>
    body {
        background: url('/Images/london-skyline.jpg') no-repeat center center fixed;
        height: 90%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    section {
        background-color: whitesmoke;
        opacity: 0.8;
        border-radius: 10px;
        padding: 10px 5px;
    }
</style>